# dependencies
**/node_modules

# builds
**/dist
**/build
**/.next
**/.turbo

# logs
*.log
logs/

# env
**/.env
**/.env.local
**/.env.development.local
**/.env.production.local
**/.env.test.local

# uploads
backend/uploads

# coverage
coverage
.nyc_output

# cache
.cache
.tmp
.temp

# OS
.DS_Store

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea

# backups
backups/

# docker
**/.docker

# prisma generated
**/generated/prisma

# misc
*.pid
*.seed
